body{
		
	}

body::before {    
      content: "";
      background-image: url('/assets/beachbackground.jpg');
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}